<!-- Le javascript
================================================== -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!-- FlatUI JS -->
<script src="/static/js/flat-ui/jquery.dropkick-1.0.0.js"></script>
<script src="/static/js/flat-ui/custom_checkbox_and_radio.js"></script>
<script src="/static/js/flat-ui/custom_radio.js"></script>
<script src="/static/js/flat-ui/jquery.tagsinput.js"></script>
<script src="/static/js/flat-ui/bootstrap-tooltip.js"></script>
<script src="/static/js/flat-ui/jquery.placeholder.js"></script>
<script src="/static/js/flat-ui/application.js"></script>
